# Python
__pycache__/
*.pyc
.venv/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Secrets
.env
*.key

# Large/raw network captures
*.pcap
*.pcapng

# Generated artifacts
artifacts/

# Project-specific files
ProjectBreif.md